<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhiyi.falcon.core.dao.DeliveryDataBuildingMapper" >
  <resultMap id="BaseResultMap" type="com.zhiyi.falcon.core.model.DeliveryDataBuilding" >
    <constructor >
      <idArg column="ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="BUILDING_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DELIVERY_NUM" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="COMMUNITY_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DELIVERY_EMPLOYEE_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DELIVERY_TASK_ID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="DELIVERY_STATUS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DELIVERY_DT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="BEGIN_DT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="END_DT" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="REMARK" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMMUNITY_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BUILDING_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LONGITUDE" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="LATITUDE" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="DELIVERY_CITY"  jdbcType="VARCHAR" javaType="java.lang.String"/>
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    ID, BUILDING_ID, DELIVERY_NUM, COMMUNITY_ID, DELIVERY_EMPLOYEE_ID, DELIVERY_TASK_ID, 
    DELIVERY_STATUS, DELIVERY_DT, BEGIN_DT, END_DT, REMARK, COMMUNITY_NAME, BUILDING_NAME,
    LONGITUDE, LATITUDE, DELIVERY_CITY
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TB_DELIVERY_DATA_COMMUNITY_BUILDING
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TB_DELIVERY_DATA_COMMUNITY_BUILDING
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.zhiyi.falcon.core.model.DeliveryDataBuilding" >
    insert into TB_DELIVERY_DATA_COMMUNITY_BUILDING (ID, BUILDING_ID, DELIVERY_NUM, 
      COMMUNITY_ID, DELIVERY_EMPLOYEE_ID, DELIVERY_TASK_ID, 
      DELIVERY_STATUS, DELIVERY_DT, BEGIN_DT, 
      END_DT, REMARK, COMMUNITY_NAME, 
      BUILDING_NAME,LONGITUDE,LATITUDE, DELIVERY_CITY)
    values (#{id,jdbcType=INTEGER}, #{buildId,jdbcType=INTEGER}, #{deliveryNum,jdbcType=INTEGER}, 
      #{communityId,jdbcType=INTEGER}, #{deliveryEmployeeId,jdbcType=INTEGER}, #{deliveryTaskId,jdbcType=INTEGER}, 
      #{deliveryStatus,jdbcType=VARCHAR}, #{deliveryDt,jdbcType=TIMESTAMP}, #{beginDt,jdbcType=TIMESTAMP}, 
      #{endDt,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{communityName,jdbcType=VARCHAR}, 
      #{buildingName,jdbcType=VARCHAR},#{longitude,jdbcType=DOUBLE},#{latitude,jdbcType=DOUBLE},#{deliveryCity,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.zhiyi.falcon.core.model.DeliveryDataBuilding" >
    insert into TB_DELIVERY_DATA_COMMUNITY_BUILDING
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="buildId != null" >
        BUILDING_ID,
      </if>
      <if test="deliveryNum != null" >
        DELIVERY_NUM,
      </if>
      <if test="communityId != null" >
        COMMUNITY_ID,
      </if>
      <if test="deliveryEmployeeId != null" >
        DELIVERY_EMPLOYEE_ID,
      </if>
      <if test="deliveryTaskId != null" >
        DELIVERY_TASK_ID,
      </if>
      <if test="deliveryStatus != null" >
        DELIVERY_STATUS,
      </if>
      <if test="deliveryDt != null" >
        DELIVERY_DT,
      </if>
      <if test="beginDt != null" >
        BEGIN_DT,
      </if>
      <if test="endDt != null" >
        END_DT,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="communityName != null" >
        COMMUNITY_NAME,
      </if>
      <if test="buildingName != null" >
        BUILDING_NAME,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="deliveryCity != null" >
        DELIVERY_CITY
      </if>
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buildId != null" >
        #{buildId,jdbcType=INTEGER},
      </if>
      <if test="deliveryNum != null" >
        #{deliveryNum,jdbcType=INTEGER},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="deliveryEmployeeId != null" >
        #{deliveryEmployeeId,jdbcType=INTEGER},
      </if>
      <if test="deliveryTaskId != null" >
        #{deliveryTaskId,jdbcType=INTEGER},
      </if>
      <if test="deliveryStatus != null" >
        #{deliveryStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDt != null" >
        #{deliveryDt,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDt != null" >
        #{beginDt,jdbcType=TIMESTAMP},
      </if>
      <if test="endDt != null" >
        #{endDt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="LONGITUDE != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="deliveryCity != null" >
        #{DELIVERY_CITY,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zhiyi.falcon.core.model.DeliveryDataBuilding" >
    update TB_DELIVERY_DATA_COMMUNITY_BUILDING
    <set >
      <if test="buildId != null" >
        BUILDING_ID = #{buildId,jdbcType=INTEGER},
      </if>
      <if test="deliveryNum != null" >
        DELIVERY_NUM = #{deliveryNum,jdbcType=INTEGER},
      </if>
      <if test="communityId != null" >
        COMMUNITY_ID = #{communityId,jdbcType=INTEGER},
      </if>
      <if test="deliveryEmployeeId != null" >
        DELIVERY_EMPLOYEE_ID = #{deliveryEmployeeId,jdbcType=INTEGER},
      </if>
      <if test="deliveryTaskId != null" >
        DELIVERY_TASK_ID = #{deliveryTaskId,jdbcType=INTEGER},
      </if>
      <if test="deliveryStatus != null" >
        DELIVERY_STATUS = #{deliveryStatus,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDt != null" >
        DELIVERY_DT = #{deliveryDt,jdbcType=TIMESTAMP},
      </if>
      <if test="beginDt != null" >
        BEGIN_DT = #{beginDt,jdbcType=TIMESTAMP},
      </if>
      <if test="endDt != null" >
        END_DT = #{endDt,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        COMMUNITY_NAME = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="buildingName != null" >
        BUILDING_NAME = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        LATITUDE = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="longitude != null" >
        LONGITUDE = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="deliveryCity != null" >
        DELIVERY_CITY = #{deliveryCity,jdbcType=VARCHAR}
      </if>

    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zhiyi.falcon.core.model.DeliveryDataBuilding" >
    update TB_DELIVERY_DATA_COMMUNITY_BUILDING
    set
      DELIVERY_NUM = #{deliveryNum,jdbcType=INTEGER},
      COMMUNITY_ID = #{communityId,jdbcType=INTEGER},
      DELIVERY_EMPLOYEE_ID = #{deliveryEmployeeId,jdbcType=INTEGER},
      DELIVERY_TASK_ID = #{deliveryTaskId,jdbcType=INTEGER},
      DELIVERY_STATUS = #{deliveryStatus,jdbcType=VARCHAR},
      DELIVERY_DT = #{deliveryDt,jdbcType=TIMESTAMP},
      BEGIN_DT = #{beginDt,jdbcType=TIMESTAMP},
      END_DT = #{endDt,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      COMMUNITY_NAME = #{communityName,jdbcType=VARCHAR},
      BUILDING_NAME = #{buildingName,jdbcType=VARCHAR},
      LONGITUDE = #{longitude,jdbcType=DOUBLE},
      LATITUDE = #{latitude,jdbcType=DOUBLE},
      BUILDING_ID = #{buildId,jdbcType=INTEGER},
      DELIVERY_CITY = #{deliveryCity,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="count" parameterType="com.zhiyi.falcon.api.dto.DeliveryDataBuildingSearchDto"  resultType="int">
    select count(*) from TB_DELIVERY_DATA_COMMUNITY_BUILDING AS dc,TB_BASE_DELIVERY_EMPLOYEE AS de
    where dc.DELIVERY_EMPLOYEE_ID = de.ID
    <include refid="searchDto_select_conditions" />
  </select>

  <select id="search" parameterType="com.zhiyi.falcon.api.dto.DeliveryDataBuildingSearchDto" resultMap="BaseResultMap">
    select dc.*,de.USER_NAME from TB_DELIVERY_DATA_COMMUNITY_BUILDING AS dc,TB_BASE_DELIVERY_EMPLOYEE AS de
    where dc.DELIVERY_EMPLOYEE_ID = de.ID
    <include refid="searchDto_select_conditions" />
  </select>

  <sql id="searchDto_select_conditions">
    <if test="userName !=null and userName !=''">
      <![CDATA[AND de.USER_NAME =#{userName}]]>
    </if>
    <if test="communityName !=null and communityName !=''">
      <![CDATA[AND dc.COMMUNITY_NAME = #{communityName}]]>
    </if>
    <if test="name !=null and name !=''">
      <![CDATA[AND dc.BUILDING_NAME = #{name}]]>
    </if>
    <if test="id != null">
      <![CDATA[AND dc.ID = #{id}]]>
    </if>
    <if test="communityId != null and communityId != ''">
      <![CDATA[ AND dc.COMMUNITY_ID = #{communityId}]]>
    </if>
    <if test="buildId != null and buildId != ''">
      <![CDATA[ AND dc.BUILDING_ID = #{buildId}]]>
    </if>
    <if test="deliveryNum != null and deliveryNum != ''">
      <![CDATA[ AND dc.DELIVERY_NUM = #{deliveryNum}]]>
    </if>
    <if test="deliveryEmployeeId !=null and deliveryEmployeeId != ''">
      <![CDATA[ AND dc.DELIVERY_EMPLOYEE_ID = #{deliveryEmployeeId}]]>
    </if>
    <if test="deliveryStatus != null and deliveryStatus != ''">
      <![CDATA[ AND dc.DELIVERY_STATUS = #{deliveryStatus}]]>
    </if>
    <if test="deliveryTaskId != null and deliveryTaskId !=''">
      <![CDATA[ AND dc.DELIVERY_TASK_ID = #{deliveryTaskId}]]>
    </if>
    <if test="deliveryDt != null ">
      <![CDATA[ AND dc.DELIVERY_DT = #{deliveryDt}]]>
    </if>
    <if test="beginDt != null ">
      <![CDATA[ AND dc.BEGIN_DT = #{beginDt}]]>
    </if>
    <if test="endDt != null">
      <![CDATA[ AND dc.END_DT = #{endDt}]]>
    </if>
    <if test="remark != null and remark !='' ">
      <![CDATA[ AND dc.REMARK = #{remark}]]>
    </if>
    <if test="deliveryCity != null and deliveryCity !='' ">
      <![CDATA[ AND dc.DELIVERY_CITY = #{deliveryCity}]]>
    </if>
    <if test="startDate != null ">
      <![CDATA[ AND dc.DELIVERY_DT >= #{startDate}]]>
    </if>
    <if test="endDate != null ">
      <![CDATA[ AND dc.DELIVERY_DT <= #{endDate}]]>
    </if>

  </sql>
</mapper>